body
{		font-family: sans-serif;
	
	background-color: green;
	margin: 0;
padding: 0;
background-image: url(E:/geobook/yourpage/img/uu.png);
background-size:cover; 
 background-attachment: fixed;


}
.nav{
	
  	border-bottom: 1px solid #fff;
	 font-size: 16px;
	position: fixed;

	box-shadow: 0 15px 25px rgba(0,0,0.5);
	height: 40px;
	top:0;
	rsight: 0;
	float: left;
	width: 100%;
    background: rgba(0,0,0,.8);
	border-radius:20px; 
	margin-left:300px;
	padding-left:100px;

	box-shadow: 0 15px 25px rgba(0,0,0.5);
}
.div
{
padding-top:100px;
border-right: 1px solid #fff;
float top:30px;
	width: 30px;
	height: 100px; 
}
input{
margin-top:5px;
bsox-shadow:nav;
margin-left:10px;
height:30px;
width:80px;
background-color:transparent;
color:white;
font-size:16px;
border-top:none;
border-left:none;
border-right:none;

}


.subsearch{

float:left;

}

.submitq:hover{






//////////////////////


margin-top:5px;
margin-left:10px;
height:30px;
width:80px;
background-color:transparent;
color:white;
font-size:16px;

cursor:pointer;
border:1px solid white;
}





.search{
font-size:16px;
border:1px solid white;
width:200px;
border-top:none;
border-left:none;
border-right:none;
margin-left:100px;
background-color:transparent;

}

.input:focus { 
    background-color: yellow;
} 