body
{

	background-color: green;
}
.nav{
	transform: translate(-50%,-10%);
  border-bottom: 1px solid #fff;
 font-size: 16px;
	position: fixed;

box-shadow: 0 15px 25px rgba(0,0,0.5);
height: 60px;
	top:0;
	right: 0;
	float: left;
	width: 100%;
    background: rgba(0,0,0,.8);
	border-radius:20px; 
}
.div
{

border-right: 1px solid #fff;
float top:30px;
	width: 30px;
	height: 100px; 
}