body
{		font-family: sans-serif;
	
	background-color: green;
	margin: 0;
padding: 0;
background-image: url(E:/geobook/yourpage/img/uu.png);
background-size:cover; 
 background-attachment: fixed;


}
.nav{
	
  	border-bottom: 1px solid #fff;
	 font-size: 16px;
	position: fixed;

	box-shadow: 0 15px 25px rgba(0,0,0.5);
	height: 40px;
	top:0;
	rsight: 0;
	float: left;
	width: 100%;
    background: rgba(0,0,0,.8);
	border-radius:20px; 
	margin-left:400px;
	padding-left:50px;

	box-shadow: 0 15px 25px rgba(0,0,0.5);
}
.div
{
margin-top:40px;
border: 1px solid #fff;
float top:30px;
	width: 30px;
	height: 200px; 
	border:none;

}
input{
margin-top:5px;
box-shadow:nav;
margin-left:10px;
height:30px;
width:80px;
background-color:transparent;
color:white;
font-size:16px;
border-top:none;
border-left:none;
border-right:none;

}


.subsearch{

float:left;

}

.submitq:hover{

//////////////////////


margin-top:5px;
margin-left:10px;
height:30px;
width:80px;
background-color:transparent;
color:white;
font-size:16px;

cursor:pointer;
border:1px solid white;
}



.submitq1{
border:1px solid white;



}
.submitq1:hover{


margin-top:5px;
margin-left:10px;
height:30px;
width:80px;
background-color:transparent;
color:white;
font-size:16px;

cursor:pointer;

border:1px solid white;
}




.search{
font-size:16px;
border:1px solid white;
width:200px;
border-top:none;
border-left:none;
border-right:none;
margin-left:100px;
background-color:transparent;

}
.search1{
	width:200px;
	

}

.input:focus { 
    background-color: yellow;
} 

.buttons{

	float:left;
}
///////////////////////show hide phone /////////




.toggle{
float:left;
padding-top:6px;
margin-top:10px;
}

.toggle span      
{
position:relative;
width:36px;
height:4px;
background:#fff;
display:block;
margin-bottom:5px;
transition:.5s;



}

.toggle span:nth-child(1)
{
transform-origin:left;

}

.toggle span:nth-child(1)
{
transform-origin:center;

}.toggle span:nth-child(3)
{
transform-origin:left;

}
.toggle.active span:nth-child(1)
{
		top:12px;
	transform:rotate(45deg);
}
.toggle.active span:nth-child(2)
{

	transform:rotate(315deg);
	right:1px;
}


.toggle.active span:nth-child(3)
{

	transform:scaleX(0);
///////////////////////////////////////

